.banner{
    background-color: #131313;
    height: 100vh;
    display: flex;
    align-items: center; 
    padding: 0 20px; 
    box-sizing: border-box;  
    justify-content: space-between;  
    z-index: 99999;
}



.bannerTitle{
    font-size: 82px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.2;
}